<!DOCTYPE html>
<html>
<head>
  <title>Magickly</title>
  <link href="jquery-ui.smoothness.css" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <script type="text/javascript" src="magickly_demo.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22837777-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <a href="https://github.com/afeld/magickly/blob/master/README.md">
    <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/bec6c51521dcc8148146135149fe06a9cc737577/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub">
  </a>
  <div id="container">
    <div id="logo">
      <a href="http://www.jux.com"><img width='822' height='244' src="images/logo.jpg"></a>
    </div>
    <div id="about"><p>About: A service for image manipulation - built as a simple wrapper of Imagemagick which handles caching, c/o the Dragonfly gem. Say the base URL is the hosted version of this app, magickly.jux.com. The image URL is appended to the query string as a src=, followed by any of the supported operations below. Multiple operations can be combined, and will be applied in order.If no query params are provided, a simple sandbox page is displayed.</p></div>
    <div id="main">
      <p>Paste in your url <input id="input-url" type="text" value="<%= Magickly::App::DEMO_IMAGE %>"/></p>
      <div id="toggle-effects">
        <p>
          Check the effects you want:<br />
          <% %w(flip flop greyscale tilt_shift two_color).each do |effect| %>
            <input type="checkbox" class="effect" name="<%= effect %>"/>
            <label for="<%= effect %>"><%= effect %></label>
            <br/>
          <% end %>
        </p>
      </div>
      <div id="adjustable-effects">
        <p>Also, mess with sliders:</p>
        <% %w(halftone).each do |effect| %>
          <div>
            <input id="<%= effect %>-toggle" type="checkbox" class="effect slider-toggle" name="<%= effect %>"/>
            <label for="<%= effect %>"><%= effect %></label>
            <div id="<%= effect %>-slider" class="effect slider"></div>
          </div>
        <% end %>
      </div>
      <div id="result">
        <p>Here's the result:</p>
        <div id="result_container">
          <img id="result-image" src="<%= Magickly::App::DEMO_IMAGE %>"/>
        </div>
        <p>Sweet! Copy the result url: <input id="result-url" type="text" value="<%= Magickly::App::DEMO_IMAGE %>"/></p>

      </div>
      <div id="footer">
        <span id="left_foot"></span>
        <span id="right_foot">Made with love by <a href="http://www.jux.com">Jux.com</a></span>
      </div> <!--end footer -->
    </div> <!--end main -->
  </div> <!-- end container -->
</body>
</html>
